.page.col-md-12.col-xs-12.col-sm-12
  %h1.all-title
    Nos technos
  .col-md-10.col-xs-12.col-sm-12.col-md-offset-1
    .col-md-12.col-xs-12.col-sm-12
      .col-md-3.col-xs-12.col-sm-12.block
        %h2.all-title
          Ruby
        #ruby-block.img-rounded
          #ruby-text
            .animate-block
              %p
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugi

      .col-md-3.col-xs-12.col-sm-12.block
        %h2.all-title
          Ruby on Rails
        #rails-block
          #rails-text
            .animate-block
              %p
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugi

      .col-md-3.col-xs-12.col-sm-12.block
        %h2.all-title 
          AngularJs
        #angular-block
          #angular-text
            .animate-block
              %p
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit invulputate velit esse molestie consequat, vel illum dolore eu feugi
      .col-md-3.col-xs-12.col-sm-12.block
        %h2.all-title
          PostgreSql
        #postgre-block
          #postgre-text
            .animate-block
              %p
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit invulputate velit esse molestie consequat, vel illum dolore eu feugi