body
	position: relative
.logoqiriqoo
	width: 200px
	height: 50px
	margin-top: -15px
.all-title
	text-align: center
h1
	padding: 10px 0 0 0
h2
	padding: 10px 0
.navbar
	margin-bottom: 0
	border-radius: 0
	padding-right: 15px
.block
	padding: 25px 15px
#nos-services,
#a-propos,
#nos-technos,
#lequipe
	padding: 25px 0
	position: relative
#travail-description,
#transp,
#work,
#comm,
#ruby-text,
#rails-text,
#angular-text,
#postgre-text
	position: absolute
	width: 100%
	height: 100%
	opacity: 0
	color: white
	background-color: rgba(35,20,35,.9)
	-webkit-transition: opacity .30s ease-in-out
	-moz-transition: opacity .30s ease-in-out

.animate-block
	position: absolute
	top: 400px
	left: 0
	-webkit-transition: top .8s ease-in-out
	-moz-transition: top .8s ease-in-out

#about
	width: 1px
	height: 1px
	position: absolute
	top: 0
#acceuil
	text-align: center
	min-height: 800px
	background-image: url('polygon.jpg')
	padding-top: 150px
	.accueil-title,
	.accueil-image
		color: white
		padding-top: 25px
		padding-bottom: 25px
	.second-title
		margin-top: 0px
	.btn-lequipe
		background-color: #ad0f06
		color: white
		border-color: #ad0f06
		font-size: 20px
	.btn-contact
		border: 2px solid #ad0f06
		border-color: #ad0f06
		background-color: black
		color: white
		font-size: 20px


#nos-services
	background-color: #e8e8e8
	text-align: center
	img
		width: 150px
		height: 150px
		margin: auto
		display: block	

#a-propos
	color: white
	background: #5d2026
	text-align: center
	#travail,
	#Workflow,
	#transparence,
	#communication
		min-height: 400px
		position: relative
		overflow: hidden	

	#travail
		background: url('Responsive-design.jpg')
		background-position: center
		&:hover
			#travail-description
				opacity: 1
			.animate-block
				top: 0
	#Workflow
		background: url('Responsive-design.jpg')
		background-position: center
		&:hover 
			#work
				opacity: 1
			.animate-block
				top: 0

	#transparence
		background: url('Responsive-design.jpg')
		background-position: center
		&:hover 
			#transp
				opacity: 1
			.animate-block
				top: 0
	#communication
		background: url('Responsive-design.jpg')
		background-position: center

		&:hover
			#comm
				opacity: 1
			.animate-block
				top: 0

#nos-technos
	background: #5d2026
	text-align: center
	color: white
	min-height: 350px
	#ruby-block,
	#rails-block,
	#angular-block,
	#postgre-block
		position: relative
		width: 100%
		min-height: 400px
		display: block
	#ruby-block
		background: url('ruby-logo.png')
		background-size: cover
		background-repeat: no-repeat
		background-position: center

		&:hover
			#ruby-text
				opacity: 1
			.animate-block
				top: 0
	#rails-block
		background: url('Ruby_on_Rails.png')
		background-size: cover		
		background-repeat: no-repeat
		background-position: center

		&:hover
			#rails-text
				opacity: 1
			.animate-block
				top: 0
	#angular-block
		background: url('angularjs-logo.png')
		background-size: cover		
		background-repeat: no-repeat
		background-position: center

		&:hover
			#angular-text
				opacity: 1
			.animate-block
				top: 0
	#postgre-block
		background: url('postgre.png')
		background-size: cover		
		background-repeat: no-repeat
		background-position: center
		&:hover
			#postgre-text
				opacity: 1
			.animate-block
				top: 0

#lequipe
	background: #e8e8e8
	text-align: center
	.masque-size
		width: 250px
		height: 250px
		margin: auto
		display: block
#contact-us	
	.contact-form
		margin-top: 40px
.page
	margin-top: 20px

#footer
	background: #5d2026
	min-height: 100px


